[177. Nth Highest Salary](https://leetcode.com/problems/nth-highest-salary/)

```sql
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  set N = N-1;
  RETURN (
      # Write your MySQL query statement below.
    SELECT DISTINCT
      Salary
    FROM
      Employee
    ORDER BY
      Salary DESC
    LIMIT 1
    OFFSET N
  );
END
```

In [2]:
import sqlite3
con = sqlite3.connect(':memory:')
c = con.cursor()
c.execute('''
CREATE TABLE Employee
    (Id int, Salary int)
''')
c.execute("INSERT INTO Employee values(1, 100)")
c.execute("INSERT INTO Employee values(2, 200)")
c.execute("INSERT INTO Employee values(3, 300)")

In [3]:
c.execute('select * from Employee').fetchall()

[(1, 100), (2, 200), (3, 300)]

In [8]:
c.execute('''
SELECT DISTINCT
    Salary
FROM
    Employee
ORDER BY
    Salary DESC
LIMIT 1
OFFSET 1
''').fetchall()

[(200,)]