[178. Rank Scores](https://leetcode.com/problems/rank-scores/)

```sql
# Write your MySQL query statement below
SELECT
  Score,
  @rank := @rank + (@prev <> (@prev := Score)) Rank
FROM
  Scores,
  (SELECT @rank := 0, @prev := -1) init
ORDER BY Score desc
```

In [1]:
import sqlite3
con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute("Create table If Not Exists Scores (Id int, Score DECIMAL(3,2))")

cur.execute("insert into Scores (Id, Score) values ('1', '3.5')")
cur.execute("insert into Scores (Id, Score) values ('2', '3.65')")
cur.execute("insert into Scores (Id, Score) values ('3', '4.0')")
cur.execute("insert into Scores (Id, Score) values ('4', '3.85')")
cur.execute("insert into Scores (Id, Score) values ('5', '4.0')")
cur.execute("insert into Scores (Id, Score) values ('6', '3.65')")

con.commit()

In [2]:
cur.execute('select * from Scores;').fetchall()

[(1, 3.5), (2, 3.65), (3, 4), (4, 3.85), (5, 4), (6, 3.65)]

In [3]:
cur.execute('''
SELECT
  Score,
  @rank := @rank + (@prev <> (@prev := Score)) Rank
FROM
  Scores,
  (SELECT @rank := 0, @prev := -1) init
ORDER BY Score desc
''').fetchall()

OperationalError: unrecognized token: ":"