[180. Consecutive Numbers](https://leetcode.com/problems/consecutive-numbers/)

```sql
# Write your MySQL query statement below
SELECT DISTINCT
    l1.Num AS ConsecutiveNums
FROM
    Logs l1,
    Logs l2,
    Logs l3
WHERE
    l1.Id = l2.Id - 1
    AND l2.Id = l3.Id - 1
    AND l1.Num = l2.Num
    AND l2.Num = l3.Num
;
```

In [1]:
import sqlite3
con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute("Create table If Not Exists Logs (Id int, Num int)")

cur.execute("insert into Logs (Id, Num) values ('1', '1')")
cur.execute("insert into Logs (Id, Num) values ('2', '1')")
cur.execute("insert into Logs (Id, Num) values ('3', '1')")
cur.execute("insert into Logs (Id, Num) values ('4', '2')")
cur.execute("insert into Logs (Id, Num) values ('5', '1')")
cur.execute("insert into Logs (Id, Num) values ('6', '2')")
cur.execute("insert into Logs (Id, Num) values ('7', '2')")

con.commit()

In [2]:
cur.execute('select * from Logs;').fetchall()

[(1, 1), (2, 1), (3, 1), (4, 2), (5, 1), (6, 2), (7, 2)]

In [3]:
cur.execute('''
SELECT DISTINCT
    l1.Num AS ConsecutiveNums
FROM
    Logs l1,
    Logs l2,
    Logs l3
WHERE
    l1.Id = l2.Id - 1
    AND l2.Id = l3.Id - 1
    AND l1.Num = l2.Num
    AND l2.Num = l3.Num
;
''').fetchall()

[(1,)]