[183. Customers Who Never Order](https://leetcode.com/problems/customers-who-never-order/)

```sql
# Write your MySQL query statement below
select customers.name as 'Customers'
from customers
where customers.id not in
(
    select customerid from orders
);
```

In [3]:
import sqlite3
con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute('Create table If Not Exists Customers (Id int, Name varchar(255))')
cur.execute('Create table If Not Exists Orders (Id int, CustomerId int)')

cur.execute("insert into Customers (Id, Name) values ('1', 'Joe')")
cur.execute("insert into Customers (Id, Name) values ('2', 'Henry')")
cur.execute("insert into Customers (Id, Name) values ('3', 'Sam')")
cur.execute("insert into Customers (Id, Name) values ('4', 'Max')")

cur.execute("insert into Orders (Id, CustomerId) values ('1', '3')")
cur.execute("insert into Orders (Id, CustomerId) values ('2', '1')")
con.commit()

In [4]:
cur.execute('select * from Customers;').fetchall()

[(1, 'Joe'), (2, 'Henry'), (3, 'Sam'), (4, 'Max')]

In [5]:
cur.execute('select * from Orders;').fetchall()

[(1, 3), (2, 1)]

In [6]:
cur.execute('''
select customers.name as 'Customers'
from customers
where customers.id not in
(
    select customerid from orders
);
''').fetchall()

[('Henry',), ('Max',)]