[184. Department Highest Salary](https://leetcode.com/problems/department-highest-salary/)

```sql
# Write your MySQL query statement below
SELECT
    Department.name AS 'Department',
    Employee.name AS 'Employee',
    Salary
FROM
    Employee
        JOIN
    Department ON Employee.DepartmentId = Department.Id
WHERE
    (Employee.DepartmentId , Salary) IN
    (   SELECT
            DepartmentId, MAX(Salary)
        FROM
            Employee
        GROUP BY DepartmentId
	)
;
```

In [2]:
import sqlite3
con = sqlite3.connect(':memory:')
cur = con.cursor()
cur.execute('create table Employee (Id int, Name varchar(256), Salary int, DepartmentId int);')
cur.execute('create table Department (Id int, Name varchar(256));')

cur.execute('insert into Employee values(1, "Joe", 70000, 1);')
cur.execute('insert into Employee values(1, "Jim", 90000, 1);')
cur.execute('insert into Employee values(1, "Henry", 80000, 2);')
cur.execute('insert into Employee values(1, "Sam", 60000, 2);')
cur.execute('insert into Employee values(1, "Max", 90000, 1);')

cur.execute('insert into Department values(1, "IT");')
cur.execute('insert into Department values(2, "Sales");')
con.commit()

In [3]:
cur.execute('select * from Employee;').fetchall()

[(1, 'Joe', 70000, 1),
 (1, 'Jim', 90000, 1),
 (1, 'Henry', 80000, 2),
 (1, 'Sam', 60000, 2),
 (1, 'Max', 90000, 1)]

In [4]:
cur.execute('select * from Department;').fetchall()

[(1, 'IT'), (2, 'Sales')]

In [5]:
cur.execute('''
SELECT
    Department.name AS 'Department',
    Employee.name AS 'Employee',
    Salary
FROM
    Employee
        JOIN
    Department ON Employee.DepartmentId = Department.Id
WHERE
    (Employee.DepartmentId , Salary) IN
    (   SELECT
            DepartmentId, MAX(Salary)
        FROM
            Employee
        GROUP BY DepartmentId
	)
;
''').fetchall()

OperationalError: sub-select returns 2 columns - expected 1