[196. Delete Duplicate Emails](https://leetcode.com/problems/delete-duplicate-emails/)

```sql
# Write your MySQL query statement below
DELETE p1 FROM Person as p1, Person as p2
WHERE
    p1.Email = p2.Email AND p1.Id > p2.Id
```

In [1]:
import sqlite3
con = sqlite3.connect(':memory:')
c = con.cursor()
c.execute('''
CREATE TABLE Person
    (Id int, Email varchar(256))
''')
c.execute('''
INSERT INTO Person
    values(1, 'john@example.com')
''')
c.execute('''
INSERT INTO Person
    values(2, 'bob@example.com')
''')
c.execute('''
INSERT INTO Person
    values(3, 'john@example.com')
''')

In [2]:
c.execute('select * from Person').fetchall()

[(1, 'john@example.com'), (2, 'bob@example.com'), (3, 'john@example.com')]

In [4]:
c.execute('''
DELETE p1 FROM Person as p1, Person as p2
WHERE
    p1.Email = p2.Email AND p1.Id > p2.Id
''').fetchall()

OperationalError: near "p1": syntax error