[596. Classes More Than 5 Students](https://leetcode.com/problems/classes-more-than-5-students/)

```sql
# Write your MySQL query statement below
select
    class
from
    courses
group by class
having count(distinct student) >= 5
```

In [3]:
import sqlite3
con = sqlite3.connect(':memory:')
c = con.cursor()
c.execute('''
CREATE TABLE courses
    (student varchar(1), class varchar(256))
''')
c.execute("insert into courses (student, class) values ('A', 'Math')")
c.execute("insert into courses (student, class) values ('B', 'English')")
c.execute("insert into courses (student, class) values ('C', 'Math')")
c.execute("insert into courses (student, class) values ('D', 'Biology')")
c.execute("insert into courses (student, class) values ('E', 'Math')")
c.execute("insert into courses (student, class) values ('F', 'Computer')")
c.execute("insert into courses (student, class) values ('G', 'Math')")
c.execute("insert into courses (student, class) values ('H', 'Math')")
c.execute("insert into courses (student, class) values ('I', 'Math')")

In [4]:
c.execute('select * from courses').fetchall()

[('A', 'Math'),
 ('B', 'English'),
 ('C', 'Math'),
 ('D', 'Biology'),
 ('E', 'Math'),
 ('F', 'Computer'),
 ('G', 'Math'),
 ('H', 'Math'),
 ('I', 'Math')]

In [8]:
c.execute('''
select
    class
from
    courses
group by class
having count(distinct student) >= 5
''').fetchall()

[('Math',)]