[620. Not Boring Movies](https://leetcode.com/problems/not-boring-movies/)

```sql
# Write your MySQL query statement below
SELECT *
FROM
    cinema
WHERE
    id % 2 != 0 and
    description != 'boring'
ORDER BY
    rating DESC;
```

In [5]:
import sqlite3
con = sqlite3.connect(':memory:')
c = con.cursor()
c.execute('''
Create table If Not Exists cinema (id int, movie varchar(255), description varchar(255), rating float(2, 1));
''')
c.execute('''
insert into cinema (id, movie, description, rating) values ('1', 'War', 'great 3D', '8.9');
''')
c.execute('''
insert into cinema (id, movie, description, rating) values ('2', 'Science', 'fiction', '8.5');
''')
c.execute('''
insert into cinema (id, movie, description, rating) values ('3', 'irish', 'boring', '6.2');
''')
c.execute('''
insert into cinema (id, movie, description, rating) values ('4', 'Ice song', 'Fantacy', '8.6');
''')
c.execute('''
insert into cinema (id, movie, description, rating) values ('5', 'House card', 'Interesting', '9.1');
''')

In [8]:
c.execute('''
SELECT *
FROM
    cinema
WHERE
    id % 2 != 0 and
    description != 'boring'
ORDER BY
    rating DESC
''').fetchall()

[(5, 'House card', 'Interesting', 9.1), (1, 'War', 'great 3D', 8.9)]