[626. Exchange Seats](https://leetcode.com/problems/exchange-seats/)

```sql
# Write your MySQL query statement below
SELECT
    s1.id, COALESCE(s2.student, s1.student) AS student
FROM
    seat s1
        LEFT JOIN
    seat s2 ON ((s1.id + 1) ^ 1) - 1 = s2.id
ORDER BY s1.id;
```

In [1]:
import sqlite3
con = sqlite3.connect(':memory:')
c = con.cursor()
c.execute('''
Create table If Not Exists seat(id int, student varchar(255))
''')
c.execute('''
insert into seat (id, student) values ('1', 'Abbot')
''')
c.execute('''
insert into seat (id, student) values ('2', 'Doris')
''')
c.execute('''
insert into seat (id, student) values ('3', 'Emerson')
''')
c.execute('''
insert into seat (id, student) values ('4', 'Green')
''')
c.execute('''
insert into seat (id, student) values ('5', 'Jeames')
''')

In [2]:
c.execute('''
SELECT
    s1.id, COALESCE(s2.student, s1.student) AS student
FROM
    seat s1
        LEFT JOIN
    seat s2 ON ((s1.id + 1) ^ 1) - 1 = s2.id
ORDER BY s1.id;
''').fetchall()

OperationalError: unrecognized token: "^"