[627. Swap Salary](https://leetcode.com/problems/swap-salary/)

```sql
# Write your MySQL query statement below
UPDATE salary
SET
    sex = CASE sex
        WHEN 'm' THEN 'f'
        ELSE 'm'
    END;
```

In [3]:
import sqlite3
con = sqlite3.connect(':memory:')
c = con.cursor()
c.execute('''
CREATE TABLE salary
    (id int, name varchar(256), sex varchar(256), salary int)
''')
c.execute('''
INSERT INTO salary
    values(1, 'A', 'm', 2500)
''')
c.execute('''
INSERT INTO salary
    values(2, 'B', 'f', 1500)
''')
c.execute('''
INSERT INTO salary
    values(3, 'C', 'm', 5500)
''')
c.execute('''
INSERT INTO salary
    values(4, 'D', 'f', 500)
''')

In [6]:
c.execute('''
SELECT *
FROM
    salary
''').fetchall()

[(1, 'A', 'f', 2500),
 (2, 'B', 'm', 1500),
 (3, 'C', 'f', 5500),
 (4, 'D', 'm', 500)]

In [5]:
c.execute('''
UPDATE salary
SET
    sex = CASE sex
        WHEN 'm' THEN 'f'
        ELSE 'm'
    END;
''')

In [ ]:
c.execute()